/* Header */
header {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 0px;

    background: #ED4C5C;
}

.title_text {
    position: absolute;
    width: 445px;
    height: 107px;
    left: 165px;
    top: 122px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.middle_text {
    position: absolute;
    width: 445px;
    height: 64px;
    left: 165px;
    top: 253px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
}


.piece1 {
    position: absolute;
    margin: 360.45px 1260.75px 114.45px 166px;
}

.piece2 {
    position: absolute;
    margin: 359px 1255.39px 128.5px 168.17px;
}

.piece3 {
    position: absolute;
    margin: 374.5px 1255.39px 128.5px 168.17px;
}

.piece4 {
    position: absolute;
    margin: 368.97px 1248px 122.97px 182.4px; 
}

.appstore_logo {
    position: absolute;
    margin: 359px 0px 0px 213px;
}

.windows_logo {
    position: absolute;
    margin: 361px 0px 0px 266px;
}

.video_bg {
    position: absolute;
    margin: 116px 691px;
}

.video_bg1 {
    position: absolute;
    margin: 116px 841px;
}

.video_bg2 {
    position: absolute;
    margin: 94px 735px;
}

/* Main */

main {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 500px;
}

.container {
    display: flex;
    flex-direction: row;
}

h2 {
    position: absolute;
    width: 445px;
    height: 107px;
    left: 176px;
    top: 117px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.contact_text {
    position: absolute;
    width: 434px;
    height: 64px;
    left: 176px;
    top: 213px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}


/* inputs */


.fullname_input {
    display: flex;
    flex-direction: row;
    margin-top: 117px;
    margin-left: 735px;
}

.first_name {
    box-sizing: border-box;
    width: 255px;
    height: 60px;
}

.last_name {
    box-sizing: border-box;
    margin-left: 30px;
    width: 255px;
    height: 60px;
}

.phone_service_inputs {
    display: flex;
    flex-direction: column;
    margin-left: 735px;
}

.phone_number {
    box-sizing: border-box;
    margin-top: 24px;
    width: 540px;
    height: 60px;
}

.select_service_input {
    display: flex;
}

.select_service {
    box-sizing: border-box;
    margin-top: 24px;
    width: 540px;
    height: 60px;
}

.select_service_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: rgba(19, 39, 67, 0.5);
}

.submit_class {
    flex-direction: column;
    margin-top: 27px;
}

.button {
    flex-direction: column;
    margin-top: 111px;
    padding: 16px 34px 16px 34px;
    box-sizing: border-box;
    position: absolute;
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}


/* Footer */

footer {
    position: absolute;
    width:  1440px;
    height: 435px;
    left: 0px;
    top: 1045px;
    background: #FAFAFA;
}

.adress_block {
    float: left;
    font-family: 'Lato';
    font-style: normal;
}

.adress_title_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}

.adress_text {
    margin-top: 33px;
    margin-left: 115px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.services_block {
    float: left;
    margin-right: 217px;
    margin-left: 219px;
    font-family: 'Lato';
    font-style: normal;
}

.services_title_text {
    margin-right: 166px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}

.services_text {
    margin-top: 33px;
    margin-right: 166px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
}

.GetInTouch_block {
    float: left;
    margin-left: -217px;
    font-family: 'Lato';
    font-style: normal;
    text-align: center;
    color: #101010;
}

.GetInTouch_title_text {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}

.GetInTouch_text {
    margin-top: 55px;
    margin-left: 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}

.GetInTouch_phone_number {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #121212;
}

.WeSupport_block {
    float: left;
    margin-left: 187px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}

.img_verified_by {
    margin-top: 33px;
}

.cloudbudget {
    position: absolute;
    margin: 335px 0px 0px 110px;
    width: 155px;
    height: 14px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}